﻿@model TestTask_MVC.Models.AdvertisingConstruction

@{
    ViewBag.Title = "Edit";
}

@using( Html.BeginForm( "EditConstruction", "Home", FormMethod.Post, new { id = "AddNewForm" } ) )
{
    @Html.ValidationSummary()

    <div class="form-group">
            @Html.HiddenFor( m => m.ID )
        </div>

    <div class="form-group">
        @Html.LabelFor( m => m.Description )
        @Html.TextBoxFor( m => m.Description, new { @class = "form-control" } )
    </div>

    <div class="form-group">
        @Html.LabelFor( m => m.MaintenanceTime )
        @Html.TextBoxFor( m => m.MaintenanceTime, new { @class = "form-control", id = "maintenanceDatePicker" } )
    </div>

    <div class="form-group">
        @Html.LabelFor( m => m.Location )
        @Html.EditorFor( m => m.Location )
    </div>

    <div class="form-group">
        @Html.LabelFor( m => m.Type )
        @Html.DropDownListFor( model => model.Type, Enum.GetNames( typeof( TestTask_MVC.Models.ConstructionType ) ).Select( e => new SelectListItem { Text = e } ), new { @class = "form-control" } )
    </div>

    <div class="form-group">
        @Html.LabelFor( m => m.Height )
        @Html.TextBoxFor( m => m.Height, new { @class = "form-control" } )
    </div>

    <div class="form-group">
        @Html.LabelFor( m => m.Width )
        @Html.TextBoxFor( m => m.Width, new { @class = "form-control" } )
    </div>

    <div class="form-group">
        @Html.LabelFor( m => m.MonthlyCost )
        @Html.TextBoxFor( m => m.MonthlyCost, new { @class = "form-control" } )
    </div>

    <button type="submit" class="btn btn-success">Accept</button>
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var currentDate = new Date();

            $("#maintenanceDatePicker").datepicker({
                dateFormat: 'yy-mm-dd',
                changeYear: true
            }).attr('readonly', 'readonly');
            $("#maintenanceDatePicker").datepicker("setDate", currentDate);
        });
    </script>

    <script type="text/javascript" src="~/Scripts/EFSpatialGoogleMaps.js"></script>
}