﻿@model TestTask_MVC.Models.AdvertisingConstruction[]
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="form-group">
    <p class="alert alert-info">Press the button below to add new advertising construction to database</p>
    <p class="alert alert-success">API located at "/api/Constructions"</p>
    @Html.ActionLink( "Add New", "AddNewConstruction", null, new { @class = "btn btn-primary" } )
</div>

<div class="form-group">
    @{
        var grid = new WebGrid( Model, canPage: true, rowsPerPage: 5 );
        grid.Pager( WebGridPagerModes.NextPrevious );
    }
    @grid.GetHtml( tableStyle: "table table-striped",
                   columns: grid.Columns(
                                            grid.Column( "Description", "Description" ),
                                            grid.Column( "MaintenanceTime", "MaintenanceTime" ),
                                            grid.Column( "Location.Latitude", "Latitude" ),
                                            grid.Column( "Location.Longitude", "Longitude" ),
                                            grid.Column( "Type", "Type" ),
                                            grid.Column( "Height", "Height" ),
                                            grid.Column( "Width", "Width" ),
                                            grid.Column( "MonthlyCost", "MonthlyCost" ),
                                            grid.Column( format: d => CellActions( d.Value ) )
    ) )

    @helper CellActions( TestTask_MVC.Models.AdvertisingConstruction construction )
{
    @Html.ActionLink( "Delete", "DeleteConstruction", new { constructionID = construction.ID }, new { @class = "btn btn-danger btn-xs", onclick = String.Format( "return confirm('Are you sure to delete the {0}?')", construction.ID ) } )
    @Html.ActionLink( "Edit", "EditConstruction", new { constructionID = construction.ID }, new { @class = "btn btn-primary btn-xs" } )
    @Html.ActionLink( "View", "ViewConstruction", new { constructionID = construction.ID }, new { @class = "btn btn-success btn-xs" } )
}
</div>