﻿@model TestTask_MVC.Models.AdvertisingConstruction

@{
    ViewBag.Title = "ViewConstruction";
}

<div class="form-group">
    @Html.LabelFor( m => m.Description ) : @Model.Description
</div>

<div class="form-group">
    @Html.LabelFor( m => m.MaintenanceTime ) : @Model.MaintenanceTime
</div>

<div class="form-group">
    @Html.LabelFor( m => m.Location )
    @Html.DisplayFor( m => m.Location )
</div>

<div class="form-group">
    @Html.LabelFor( m => m.Type ) : @Model.Type
</div>

<div class="form-group">
    @Html.LabelFor( m => m.Height ) : @Model.Height
</div>

<div class="form-group">
    @Html.LabelFor( m => m.Width ) : @Model.Width
</div>

<div class="form-group">
    @Html.LabelFor( m => m.MonthlyCost ) : @Model.MonthlyCost
</div>

<div class="form-group">
    @Html.ActionLink( "Back", "Index", null, new { @class = "btn btn-primary" } )
</div>

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/EFSpatialGoogleMaps.js"></script>
}