﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render( "~/Content/themes/base/css", "~/Content/css" )
    @Scripts.Render( "~/bundles/modernizr" )
</head>
<body>
    <nav role="navigation" class="navbar navbar-inverse">
        <div class="navbar-header">
            <a href="@Url.Action("Index")" class="navbar-brand">Advertising Construction Management</a>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>


    @Scripts.Render( "~/bundles/jquery" )
    @Scripts.Render( "~/bundles/jqueryui" )
    @Scripts.Render( "~/bundles/jqueryval" )
    @Scripts.Render( "~/bundles/bootstrap" )

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="~/Scripts/ValidationOverride.js"></script>

    @RenderSection( "scripts", required: false )
</body>
</html>
